tradingview-datafeed
pyarrow
numpy
pandas
scipy
matplotlib
requests
openpyxl
streamlit
ta-lib
ta-lib
streamlit
pandas
numpy
pytz
mplfinance
matplotlib
pyarrow
pyswisseph

swisseph @ https://pypi.python.org/packages/source/s/swisseph/swisseph-2.10.3.tar.gz





