name: Fetch stock data

on:
  schedule:
    - cron: "30 6 * * 1-5"
    - cron: "0 10 * * 1-5"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest



    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install tradingview-datafeed pandas numpy pyarrow requests openpyxl scipy matplotlib

    - name: Run fetch script
      run: python "All Data Fetch.py"

