name: Fetch stock data

on:
  schedule:
    # 12:00 PM IST
    - cron: "30 6 * * 1-5"
    # 3:30 PM IST
    - cron: "0 10 * * 1-5"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install tradingview-datafeed pandas numpy pyarrow requests openpyxl scipy matplotlib

    - name: Run fetch script
      run: python "All Data Fetch.py"
