name: Fetch stock data

on:
  schedule:
    - cron: "30 6 * * 1-5"
    - cron: "0 10 * * 1-5"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo A
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install tradingview-datafeed pandas numpy pyarrow requests openpyxl scipy matplotlib

    - name: Run fetch script
      run: python "All Data Fetch.py"

    - name: Commit Repo A
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add -A
        git commit -m "Auto update Repo A" || echo "No changes"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
